/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Barcode+128+Text&family=Water+Brush&display=swap');

/* DEFAULTS */
:root{
    --pri-color: #fd5912;
    --sec-color: #FFFFFF;
    --text-color: #303030;
    --gradient-base: rgb(73,230,206);
    --gradient-level: linear-gradient(90deg, rgba(73,230,206,1) 0%, rgba(254,142,94,1) 50%, rgba(245,238,107,1) 100%);
}

body{
    font-family: 'Istok Web', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    box-sizing: border-box;
    padding: 0;
}

h1, h2, h3, h4, h5{
    font-family: 'Istok Web', sans-serif;
    font-weight: 700;
    color: var(--pri-color);
}

header, footer{
    padding: 2em 3em 0 3em;
    margin: 0;
}

main{
    min-height: 65vh;
    margin: 2em 3em;
}

section{
    margin: 3em 0;
}

#about, #projects, #education, #more{
    padding-top: 6rem;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none; 
}

#message svg {
    width: 1em; 
    height: 1em;
}

.no-border{
    --bs-card-border-width: 0;
}

form span{
    color: red;
}

/* JQUERY */

#seating-plan-con{
    display: flex;
    flex-direction: column;
}

.draggable {
    height: 30px;
    padding: 5px;
    float: left;
    margin: 5px;
}

.droppable {
    width: 300px;
    height: 300px;
    padding: 0.5em;
    float: left;
    margin: 1em;
    border-radius: 10px;
}

/* NAV */

#mobile-menu{
    display: none;
}

#main-nav{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

nav a, button{
    padding-left: 10px;
    padding-right: 10px;
    color: var(--pri-color);
}

nav a:hover, button:hover{
    background: var(--gradient-base);
    background: var(--gradient-level);
    color: var(--sec-color);
}

.nav{
    color: var(--pri-color);
    font-weight: 700; 
    font-size: 1.5em;
    align-self: center;
}

/* MAIN */

.external-link{ 
    max-width: 150px;
    background-color: var(--sec-color);
    padding: 0.1em;
}

section a, button{
    display: block;
    color:  var(--text-color);
    margin: 0.5em 0;
    padding: 5px;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    border: 3px solid var(--text-color);
}

button{
    width: 100%;
    background: white;
}

section a:hover, button:hover{
    background: var(--gradient-base);
    background: var(--gradient-level);
    color: var(--sec-color);
}

#loginForm{
    padding: 0 5em;
}

#loginForm div{
    margin-bottom: 1em;
}

/* FOOTER */
#footer{
    background: var(--gradient-base);
    background: var(--gradient-level);
    color: var(--sec-color);
}

/* MEDIA QUERY*/

@media screen and (max-width:1100px) {
    #welcome{
        height: 90%;
    }
    
    #intro{
        gap: 0.5em;
    }

    #intro-text{
        max-width: 55%;
    }
}

@media screen and (max-width:820px) {
    main{
        padding: 2em;
    }

    #logo, #mobile-menu{
        display: block;
    }

    /* .nav{
        display: none;
    } */

    #header-right {
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .mobile-menu{
        position: absolute;
        left: -10000px; 
    }

    #m-menu-icon{
        display: block;
    }

    #mobile-menu:hover .mobile-menu {
        left: 0px;
        right: 0px;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        background-color: var(--sec-color);
    }
    .mobile-menu{
        display: flex;
    }

    .mobile-menu li{
        list-style:none;
        padding: 0.5em;
    }

    .mobile-menu li a{
        list-style:none;
        position: relative;
        color: var(--pri-color);
        font-weight: 700; 
        font-size: 1.5em;
        align-self: center;
    }

}

@media screen and (max-width:400px) {
    main, footer{
        padding: 1em;
    }
    
    .mobile-menu{
        position:absolute;
        left:-10000px; 
    }

    #m-menu-icon{
        display: block;
    }

    #m-menu-icon:hover + .mobile-menu{
        left: 0px;
        right: 0px;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 100%;
        align-items: center;
        background-color: var(--sec-color);
    }

    .mobile-menu li{
        position: relative;
    }

}